@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    font-family:'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo{
    color: #094b65;
    font-weight: 700;
    font-size: 3em;
    text-decoration: none;
    font-family: 'Rancho', cursive; 
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li{
    list-style: none;
    margin-left: 20px;
}

#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active
{
    background: #094b65;
    color: #fff;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #btn:hover{
   background-color: blue;
    color: white;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65,transparent);
    z-index: 10;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text{
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);
}

section #text span{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background: #094b65;
    
}

.sec h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1em;
    color: #fff;  
}

.sec h2{
    text-align: center;
    font-family: 'Rancho', cursive;
    letter-spacing: 10px;
}

.container{
    display: grid;
    grid-template-areas: "ket1 icon1"
        "icon2 ket2"
        "ket3 icon3"
        "icon4 ket4";
    gap:20px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); 
}

.ket1{
    grid-area: ket1;
    padding: 40px;
    margin-top: 40px;
   
}

.ket1 h3{
    font-family: 'Rancho', cursive;
    color: #fff;
    font-size: 50px;
}

.ket1 p1{
    color: #fff;
}


.icon1{
    grid-area: icon1;
    min-height: 150px;
}

.icon1 img{
    max-width: 100%;
    height: auto;
}

.icon2{
    grid-area: icon2;
    min-height: 150px;
}

.icon2 img{
    max-width: 100%;
    height: auto;
} 

.ket2{
    grid-area: ket2;
    padding: 40px;
    margin-top: 40px;
}

.ket2 h3{
    font-family: 'Rancho', cursive;
    color: #fff;
    font-size: 50px;
}

.ket2 p1{
    color: #fff;
}

.icon3{
    grid-area: icon3;
    min-height: 150px;
}

.icon3 img{
    max-width: 100%;
    height: auto;
} 

.ket3{
    grid-area: ket3;
    padding: 40px;
    margin-top: 40px;
}

.ket3 h3{
    font-family: 'Rancho', cursive;
    color: #fff;
    font-size: 50px;
}

.ket3 p1{
    color: #fff;
}


.icon4{
    grid-area: icon4;
    min-height: 150px;
}

.icon4 img{
    max-width: 100%;
    height: auto;
} 

.ket4{
    grid-area: ket4;
    padding: 40px;
    margin-top: 40px;
}

.ket4 h3{
    font-family: 'Rancho', cursive;
    color: #fff;
    font-size: 50px;
}

.ket4 p1{
    color: #fff;
}

.lestari{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-template-rows: minmax(100px,auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.lestari .box{
    color: #fff;
    background:#4d798a;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    transition: o.5s;
}

.lestari .box:hover{
    background:#74eafc;
    cursor: pointer;
}

.lestari .box img{
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
}

.lestari .box:nth-child(1){
    grid-column: span 2;
    grid-row: span 1;
}

.lestari .box:nth-child(2){
    grid-column: span 1;
    grid-row: span 2;
}

.lestari .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 2;
}

.lestari .box:nth-child(5){
    grid-column: span 1;
    grid-row: span 2;
}

.lestari .box:nth-child(7){
    grid-column: span 2;
    grid-row: span 1;
}

/*game fokus */

.fokus{
    position:relative;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../laman/fokus.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}

.fokus .box{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../laman/fokus.jpg);
    background-size: cover;
    background-position: center;
    
}

.fokus .box:nth-child(1){
    filter: blur(10px);
}

.fokus .box:nth-child(2){
    clip-path: circle(150px at var(--x) var(--y));
}

.fokus .box h2{
    position: absolute;
    border-color: #fff;
    font-size: 10em;
    transform: translate(0,0);
    transform: translate(calc(var(--x)/25),calc(var(--y)/25));
}

.circle{
    top: -150px;
    left: -150px;
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 25px rgb(0,0,0,0.25);
    transform: translate(var(--x),var(--y));
    
}

/*Daun Gugur*/

.gugur{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.gugur .set{
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 0;
    left: 0;
    pointer-events: none;
}

.gugur .set div{
    position: absolute;
    display: block;
}

.gugur .set div:nth-child(1){
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

.gugur .set div:nth-child(2){
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

.gugur .set div:nth-child(3){
    left: 70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}

.gugur .set div:nth-child(4){
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

.gugur .set div:nth-child(5){
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

.gugur .set div:nth-child(6){
    left:0%;
    animation: animate 12s linear infinite;
}
.gugur .set div:nth-child(7){
    left: 15%;
    animation: animate 14s linear infinite;
    animation-delay: -10s;
}

.gugur .set div:nth-child(8){
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate{
    0%{
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%{
        opacity: 1;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(180deg);
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set2{
    transform: scale(2)rotate(180deg);
    filter: blur(2px);
}

.set3{
    transform: scale(2)rotate(180deg);
    filter: blur(4px);
}

footer{
    text-align: center;
    margin-top: 100px;
}

footer a h3{
    color: #fff;;
}

/*responsiv*/
@media (max-width:991px){
    #header ul{
        padding:0;
        width: 110px;
    }
   
    .lestari{
        grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
        grid-template-rows: minmax(auto,auto);
    }
    
    .lestari .box{
        grid-column: unset !important;
        grid-row: unset !important;
    }
    
    .container{
        grid-template-areas: "icon1"
        "ket1"
        "icon2"
        " ket2"
        "icon3"
        "ket3"
        "icon4"
        "ket4";
    
    }

    
}







